@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
/*font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*Colors variables*/
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    --white: hsl(0, 0%, 100%); /*(main heading, stats)*/
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
    --slightly-transparent-white-other: hsla(0, 0%, 100%, 0.6); /*(stat headings)*/

    --soft-violet-overlay: hsl(277, 64%, 61%,0.6);
}

body {
    width: 100%;
    display: grid;
    padding: 2.4rem;
    color: var(--white);
    font-family: 'Inter';
    place-content: center;
    justify-content: center;
    height: calc(100vh - 50px);
    background-color: var(--very-dark-blue);
}

.container {
    gap: 1rem;
    width: 345px;
    height: auto;
    display: grid;
    background-color: 
    var(--dark-desaturated-blue);
    transition: max-width 250ms;
    border-radius: 1rem;
    grid-template-areas: 
    'theimage' 
    'theimage'  
    'text'
    'thestats';
}


.templete:nth-child(1) {
    grid-area: theimage;
}

.templete:nth-child(2) {
    grid-area: text;
}

.templete:nth-child(3) {
    grid-area: thestats;
}

.container .img-container {
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: var(--soft-violet);
}

.container .img-container img {
    width: 100%;
    opacity: .6;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    border-radius: 1rem 1rem 0rem 0rem;
}

.text-container {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.text-container h1 {
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    justify-content: center;
}

.text-container span {
    color: var(--soft-violet);
}

.text-container p {
    font-size: 16px;
    text-align: center;
    line-height: 1.4rem;
    color: var(--slightly-transparent-white);
}

.stats-container {
    width: 100%;
    display: flex;
    padding-top: 2rem;
    text-align: center;
    align-items: center;
    justify-content:center;
    flex-flow: column nowrap;
}

.stats-categories {
    margin-bottom: 1.8rem;
}

.stats-container h3 {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1.4px;
    margin-bottom: .4rem;
}

.stats-container span {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: var(--slightly-transparent-white-other);
}

@media (min-width:50rem) {
    .container {
        gap: 1rem;
        display: grid;
        width: 1440px;
        grid-template-areas: 
        'text theimage'
        'thestats theimage';
    } 

    .text-container {
        width: 720px;
        padding-top: 5.6rem;
        padding-right: 7rem;
        padding-left: 5.6rem;
        padding-bottom: 6.1rem;
    }

    .text-container h1 {
        font-size: 45px;
        text-align: left;
        margin-bottom: 1.6rem;
    }

    .text-container p {
        font-size: 20px;
        text-align: left;
        line-height: 2.1rem;
    }

    .stats-container {
        width: 87%;
        display: flex;
        text-align: left;
        padding-top: 0rem;
        padding-right: 7rem;
        padding-bottom: 5rem;
        padding-left: 5.6rem;
        flex-flow:row nowrap;
        justify-content:space-between;
    }

    .stats-container h3 {
        font-size: 32px;
        margin-bottom: 0rem;
        letter-spacing: 1.4px;
    }

    .container .img-container {
        border-radius: 0rem 1rem 1rem 0rem;
    }
    
    .container .img-container img {
        border-radius: 0rem 1rem 1rem 0rem;
    }

}
